@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat.woff') format('woff');
  src: url('../fonts/montserrat.woff2') format('woff2');
  src: url('../fonts/montserrat.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}
h1, h2, h3, h4, h5, h6, p, span, div, a, li{
  font-family: bebas neue;
  font-weight: 500;
}
span {
    font-weight: 600;
    color: #ffb347;
  letter-spacing: 4px;
}
html, body {
  line-height: 1.2;
  background-color: #0a0a0a;
  height: 100%;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.button:hover {
  box-shadow: #e78446 0px 0px 10px 1px;
  transition: 0.1s;
}
#activeLink {
  color: #ffb347;
}
ul {
  display: flex;
  list-style: none;
}



main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    color: white;
}
.firstSection {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 60px;
}
header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #414141;
  width: 95%;
  margin: auto;
}
.headerLogo {
  height: 40px;
  display: block;
  margin: auto 0;
}
.mainNavigation {
  margin: auto;
}
.mainNavList {
  gap: 60px;
}
.headerA {
  font-size: 20px;
  font-weight: 500;
  margin: auto 0;
  color: white;
  text-transform: uppercase;
}
.headerA:hover {
  color: #ffb347;
  transition: 0.1s;
}
.button {
  background: linear-gradient(90deg, #ffb347, #e78446, #e76c1f);
  padding: 5px 15px;
  border-radius: 10px;
  color: #0a0a0a;
  width: fit-content;
  font-size: 20px;
  margin: auto;
}
@media (max-width: 700px) {
  .headerLogo {
    height: 30px;
  }
  .mainNavigation {
    margin: auto 0 auto auto;
  }
  .mainNavList {
    gap: 20px;
  }
  .headerA {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
}


.firstSectionContent {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  width: 600px;
  margin: auto;
  text-align: center;
}
.firstSectionImage {
  height: 125px;
  display: block;
  margin: auto;
}
.firstSection h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #c0c0c0;
}
.firstSection h3 {
  font-size: 20px;
  
  color: #ffb347;
}
.firstSection p {
  font-size: 17px;
  color: #c0c0c0;
}
.firstSectionButton {
  font-size: 20px;
  font-weight: 500;
  margin: auto;
}
@media (max-width: 1000px) {
  .firstSectionImage {
    height: 100px;
  }
}
@media (max-width: 700px) {
  .firstSection {
    gap: 30px;
    padding-bottom: 30px;
  }
  .firstSection h1 {
    font-size: 30px;
  }
  .firstSection p {
    font-size:  15px;
  }
  .firstSectionContent {
    width: 300px;
    padding: 10px 0;
  }
}


.statisticsSection {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #ffb347, #e78446, #e76c1f);
  padding: 20px 0;
}
.statCard {
  text-align: center;
  color: #0a0a0a;
}
.statCard h1 {
  font-size: 50px;
}
.statDivider {
  width: 1px;
  height: 60%;
  background-color: #0a0a0a;
  margin: auto 0;
}
@media (max-width: 700px) {
  .statisticsSection {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 30px;
  }
  .statDivider {
    display: none;
  }
}


.serviceSection {
 width: 100%;
 padding: 100px 40px;
 gap: 30px;
 display: flex;
 flex-direction: column;
}
.serviceTitle {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.serviceTitle h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #c0c0c0;
}
.serviceTitle h3 {
  font-size: 20px;
  
  color: #ffb347;
}
.serviceContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  margin: auto;
  gap: 5px;
}
.serviceCard {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #414141;
  gap: 10px;
}
.serviceCard:hover {
  background-color: #252525;
  transition: 0.1s;
}
.serviceCard img {
  height: 35px;
  display: block;
  margin-right: auto;
}
.serviceCard h1 {
  font-size: 25px;
}
.serviceCard p {
  color: #7e7e7e;
}
@media (max-width: 700px) {
  .serviceSection {
    padding: 50px 40px;
  }
  .serviceTitle {
    gap: 5px;
  }
  .serviceTitle h1 {
    font-size: 30px;
  }
  .serviceContainer {
    grid-template-columns: auto;
  }
  .serviceCard {
    gap: 5px;
  }
  .serviceCard img {
    height: 25px;
  }
  .serviceCard h1 {
    font-size: 20px;
  }
  .serviceCard h3 {
    font-size: 17px;
  }
}


.areaSection {
 width: 100%;
 padding: 100px 40px;
 gap: 30px;
 display: flex;
 flex-direction: column;
 background-color: #1a1a1a;
}
.areaTitle {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.areaTitle h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #c0c0c0;
}
.areaTitle h3 {
  font-size: 20px;
  
  color: #ffb347;
}
.areaContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  margin: auto;
  gap: 5px;
}
.areaCard {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #414141;
  gap: 10px;
}
.areaCard:hover {
  border-color: #ffb347;
  background: linear-gradient(0deg, #e7844650, #ffffff00);
  transition: 0.3s;
  
}
#moreAreasCard:hover h1, #moreAreasCard:hover p {
  color: #ffb347;
  transition: 0.3s;
}
#moreAreasCard:hover #moreAreaDot {
  background-color: #ffb347;
  box-shadow: #ffb347 0px 0px 6px 1px;
  transition: 0.3s;
}
#moreAreasCard h1 {
  color: #7e7e7e;
}
.areaDot {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: #e78446;
  box-shadow: #e78446 0px 0px 6px 1px;
}
.areaCard h1 {
  font-size: 25px;
}
.areaCard p {
  color: #7e7e7e;
}
.areaCard a {
  color: #7e7e7e;
  font-size: 17px;
}
#moreAreaDot {
  background-color: #414141;
  box-shadow: #414141 0px 0px 6px 1px;
}
@media (max-width: 700px) {
  .areaSection {
    padding: 50px 40px;
  }
  .areaTitle {
    gap: 5px;
  }
  .areaTitle h1 {
    font-size: 30px;
  }
  .areaContainer {
    grid-template-columns: auto auto;
  }
  .areaCard {
    gap: 10px;
  }
  .areaCard h1 {
    font-size: 20px;
  }
  .areaCard h3 {
    font-size: 17px;
  }
}


.contactSection {
  padding: 60px 150px;
  display: flex;
  gap: 50px;
}
.contactSection h1 {
  font-size: 70px;
  letter-spacing: 5px;
  width: 350px;
}
.contactActionContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0 auto auto;
}
.contactActionContainer p {
  color: #c0c0c0;
}
.contactInfoContainer {
  display: flex;
  width: auto;
  gap: 20px;
}
.contactInfoContainer img {
  height: 40px;
  filter: brightness(0) saturate(100%) invert(67%) sepia(66%) saturate(518%) hue-rotate(338deg) brightness(106%) contrast(101%);
  display: block;
  margin: auto 0;
}
.contactInfo {
  width: 100%;
}
.contactInfo h1 {
  width: 100%;
  font-size: 45px;
}
.contactPhoneNumber a {
  color: white;
}
.contactButton {
  color: black;
  background: linear-gradient(90deg, #ffb347, #e78446, #e76c1f);
  padding: 10px 40px;
  width: fit-content;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .contactSection {
    padding: 60px 60px;
  }
  .contactSection h1 {
    font-size: 50px;
  }
  .contactActionContainer {
    gap: 10px;
  }
  .contactPhoneNumber {
    font-size: 35px;
  }
  .contactButton {
    padding: 10px 20px;
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .contactSection {
    padding: 40px 20px;
    gap: 15px;
    flex-direction: column;
  }
  .contactSection h1 {
    font-size: 30px;
    text-align: center;
    margin: auto;
  }
  .contactActionContainer {
    gap: 15px;
    margin: auto;
    width: 300px;
  }
  .contactActionContainer p {
    font-size: 14px;
    text-align: center;
  }
  .contactInfoContainer {
    gap: 10px;
    margin: auto;
    text-align: left;
  }
  .contactInfoContainer img {
    height: 30px;
  }
  .contactPhoneNumber {
    font-size: 30px;
  }
  .contactButton {
    font-size: 17px;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }
}



footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 40px;
    display: flex;
}
.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}
.footerContainer p {
    margin: auto 0;
    font-size: 13px;
}
.footerBrandBook {
    display: flex;
    gap: 10px;
}
.footerBrandBook img {
    height: 30px;
    display: block;
    margin: auto;
}
@media (max-width: 700px) {
  .footerContainer {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footerBrandBook {
    margin: auto;
  }
  .footerBrandBook img {
    height: 25px;
  }
  .footerContainer p {
    font-size: 12px;
  }
}

.siteSoonMain {
  margin: auto;
}
.siteSoonContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin: auto;
}
.siteSoonDivider {
    width: 550px;
    height: 1px;
    background-color: #414141;
    margin: auto;
}
.siteSoonText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 85%;
    margin: auto;
}
.siteSoonText h1 {
  font-size: 50px;
}
.footerBrandBook a {
    display: flex;
}
.footerBrandBook h3 {
    font-size: 20px;
    color: white;
    margin: auto;
}
@media (max-width: 700px) {
  .siteSoonContainer {
    gap: 20px;
  }
  .siteSoonDivider {
    width: 250px;
    height: 2px;
  }
  .siteSoonText {
    width: 85%;
    gap: 15px;
  }
  .siteSoonText h1 {
    font-size: 30px;
    width: 65%;
    margin: auto;
  }
  .siteSoonText h2 {
    font-size: 20px;
  }
}


.teamSectionContent {
  padding: 60px 0 200px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #414141;
}
.teamTitle {
  text-align: center;
  font-size: 45px;
  border-bottom: 5px solid #ffb347;
  width: fit-content;
  margin: auto;
  padding-bottom: 4px;
}
.teamContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: 0 auto;
  width: 1000px;
  justify-content: space-between;
}
.memberCard {
  width: 275px;
  background-color: #1a1a1a;
  border: 1px solid #414141;
  padding: 15px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.memberCard:hover {
  background-color: #252525;
  transition: 0.1s;
}
.memberCard img {
  height: 125px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.memberDetailsContainer {
    display: flex;
    flex-direction: column;
}
.memberDetailsContainer h1{
  font-size: 30px;
}
.memberDetailsContainer h3 {
  color: #c0c0c0;
}
@media (max-width: 1200px) {
  .teamTitle {
    font-size: 35px;
  }
  .teamContainer {
    gap: 40px;
    width: 100%;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .memberCard {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .teamSectionContent {
    gap: 40px;
  }
  .teamTitle {
    font-size: 30px;
  }
  .teamContainer {
    grid-template-columns: auto auto auto;
  }
  .memberCard {
    width: 130px;
    text-align: center;
  }
  .memberCard img {
    height: 70px;
  }
  .memberDetailsContainer {
    gap: 5px;
  }
  .memberDetailsContainer h1 {
    font-size: 20px;
  }
  .memberDetailsContainer h3 {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .teamSectionContent {
    padding: 60px 0;
  }
  .teamContainer {
    grid-template-columns: auto auto;
  }
  .teamTitle {
    border: none;
  }
}


.aboutSectionContent {
  padding: 60px 0 200px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #414141;
}
.aboutSectionContent h1 {
  font-size: 45px;
  text-align: center;
}
.aboutContainer {
  margin: auto;
  width: 80%;
  gap: 35px;
  display: flex;
  flex-direction: column;
}
.aboutQuoteContainer {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.aboutQuoteContainer h3 {
  color: #c0c0c0;
}
.aboutQuoteContainer h2 {
  font-size: 35px;
  
}
.aboutContainer p {
  font-size: 25px;
  border-left: solid 5px #ffb347;
  padding-left: 15px;
}
@media (max-width: 700px) {
  .aboutSectionContent {
    gap: 40px;
    padding: 60px 0 ;
  }
  .aboutSectionContent h1 {
    font-size: 35px;
  }
  .aboutQuoteContainer h2 {
    font-size: 25px;
  }
  .aboutContainer p {
    font-size: 20px;
  }
}