@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat.woff') format('woff');
  src: url('../fonts/montserrat.woff2') format('woff2');
  src: url('../fonts/montserrat.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}
h1, h2, h3, h4, h5, h6, p, span, div, a, li{
  font-family: montserrat;
  font-weight: 500;
}
span {
    font-weight: 600;
}
html, body {
  line-height: 1.2;
  background-color: #fafafa;
  height: 100%;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.button1 {
  width: fit-content;
  border-radius: 100px;
  padding: 15px 20px 15px 20px;
  margin: auto;
  background-color: #fc6703;
  border: none;
  text-transform: uppercase;
}
.button1 a {
  color: white;
  font-weight: 800;
}
.button1 a:hover {
  transition: 0.1s;
  color: #ffe4d2;
}
ul {
  display: flex;
  list-style: none;
}
#activeLink {
  border-bottom: solid 4px #ffffff;
}



main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: white;
}
.sectionDivider {
    width: 95%;
    height: 3px;
    background-color: #333;
    display: flex;
    margin: auto;
}
.firstSection {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 60px;
}
header {
  padding: 20px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}
.headerLogo {
  height: 40px;
  display: block;
  margin-top: auto;
}
.mainNavigation {
  gap: 10px;
  height: 50px;
}
.mainNavList {
  gap: 40px;
}
.mainNavList li {
  height: 40px;
}
.headerA {
  font-size: 20px;
  margin: auto;
  color: white;
  text-transform: uppercase;
}
.firstSectionContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  gap: 10px;
  background-color: #857e7e;
  padding: 20px 40px;
  border-radius: 10px;
}
.firstSection h1 {
  font-size: 45px;
  font-weight: 550;
}
.firstSection h3 {
  font-size: 30px;
}

.secondSection {
  width: 100%;
  padding: 60px 60px;
}
.secondSectionContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  gap: 30px;
}
.areaTitle {
  font-size: 20px;
  margin: auto;
}
.areaList {
  display: flex;
  gap: 40px;
  margin: auto;
}
.areaCard {
  background-color: #6d6d6d;
  padding: 5px 15px;
  border-radius: 10px;
  height: 200px;
  width: 250px;
  overflow: hidden;
  box-shadow: #575757 0px 0px 20px -4px;
}
.areaCardTitle {
  height: 30px;
  width: 100%;
  text-align: center;
  display: flex;
}
.areaCard h3 {
  font-size: 20px;
  margin: auto;
}

.thirdSection {
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: 70px 60px;
}
.thirdSectionContent {
  background-color: red;
  margin: auto;
  display: flex;
  gap: 100px;
}
.statisticContainer {
  background-color: blue;
  text-align: center;
  display: flex;
}




footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 40px;
    display: flex;
}
.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}
.footerContainer p {
    margin: auto 0;
    font-size: 13px;
}
.footerBrandBook {
    display: flex;
    gap: 10px;
}
.footerBrandBook img {
    height: 30px;
    display: block;
    margin: auto;
}
@media (max-width: 700px) {
  .footerContainer {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footerBrandBook {
    margin: auto;
  }
  .footerBrandBook img {
    height: 25px;
  }
  .footerContainer p {
    font-size: 10px;
  }
}

.siteSoonContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin: auto;
}
.siteSoonDivider {
    width: 550px;
    height: 3px;
    background-color: #000000;
    margin: auto;
}
.siteSoonText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 75%;
    margin: auto;
}
.footerBrandBook a {
    display: flex;
}
.footerBrandBook h3 {
    font-size: 20px;
    color: white;
    margin: auto;
}
@media (max-width: 700px) {
  .siteSoonContainer {
    gap: 20px;
  }
  .siteSoonDivider {
    width: 250px;
    height: 2px;
  }
  .siteSoonText h1 {
    font-size: 20px;
  }
  .siteSoonText h2 {
    font-size: 15px;
  }
}